<div class="header">
  <h1>Header</h1>
  <div class="header-button">
    <div class="media">
      <img class="ml-3" src="../../assets/user.png" alt="Generic placeholder image">
    </div>
    <button routerLink="/edit" class="btn btn-dark btn-create">Create Ad</button>
    <button routerLink="" class="btn btn-dark">Log out</button>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <app-authorization></app-authorization>
    </div>
  </div>
  <div class="row">
    <app-list-ad></app-list-ad>
  </div>
</div>
<div class="footer">
  <h2>Footer</h2>
</div>
