<form class="form-login" [formGroup]="formAuth"(ngSubmit)="onSubmit(formAuth)">
  <div class="form-group ">
    <label for="loginField">Login </label>
    <input
      formControlName="email"
      type="email"
      class="form-control"
      [ngClass]="{'is-invalid': formAuth.invalid && formAuth.touched}"
      id="loginField"
      placeholder="Enter login">
    <small class="invalid-feedback">Error</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input
      formControlName="password"
      type="password"
      class="form-control"
      [ngClass]="{'is-invalid': formAuth.invalid && formAuth.touched}"
      id="exampleInputPassword1"
      placeholder="Password">
    <small class="invalid-feedback">Error</small>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>


